.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: url('../../imagenes/fondoInicio.png')
    ;
    height: 90vh;
}
.hero__container h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #FFFFFF;
}
.hero__container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    /* identical to box height */


    color: #FFFFFF;
}
.hero__container button{
    background: #2448C8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.5rem;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-family: Roboto, 'sans-serif';
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}