@import url("https://cdn.syncfusion.com/ej2/material.css");

.sec-calendario-cuadro{
    width: 60rem;
    height: 30rem; 
}

.sec-calendario-titulo{
    width: 100%;
    height: 10%;
    background-color: #2448C8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px; 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.secretaria-calendario {
    max-width: 100%;
}

.secretaria-calendario table {
    height: 25rem;
}


.btn-volver3 button {
    margin-bottom: 3rem;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #2448C8;
    padding: 1rem 1.5rem;
    font-family: 'Roboto';
    font-size: 15px;
    color: #2448C8;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    width: 10rem;
    height: 2rem;
    text-align: center;
    align-items: center;
}
.login-container-agenda {
    background-image: url('../../imagenes/fondoGris.png');
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    gap: 3rem;
    height: 105vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.btn-volver3 a{
    text-decoration: none;
}
