@media (min-width: 481px) {
/*     .schedule-wrapper {
      margin: 0 25%;
    } */
  }
  .schedule-control-section{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.schedule-wrapper{
    width: 90%;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto ;
    margin-top: 3%;
    margin-bottom: 0;
}
.e-wrapper-container{
    height: 300px;
}
.e-appointment-wrap{
    height: 100%;
}
/* .e-header-popup, .e-lib, .e-popup, .e-control, .e-popup-open{
    left: 80%;
    top: 5%;
    z-index: 1000000002;
} */
.e-popup{
    left: 85% ;
    top: 1% ;
    z-index: 1003 ;
}